.App * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: #000;
  h1 {
    color: #fff;
    font-size: 26px;
  }
}
//spinner
.loading-spinner-wrapper {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}
// Pagination

ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0px;
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  li {
    list-style: none;
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
  li.active {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
  }
}
.pagination-data {
  color: white;
  margin: 10px auto;
  text-align: center;
}
//Table
.react-table-custom {
  background: white;
  border-radius: 5px;
  padding: 15px;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
    th {
      text-align: left;
      min-width: 110px;
    }
    .innerCell,
    .innerCell a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 80px;
      padding: 10px 10px 10px 0;
    }
    img.logo-image {
      width: 35px;
      height: 35px;
      margin-bottom: 10px;
    }
    td {
      padding: 0;
    }
    thead th {
      padding-bottom: 15px;
    }
    thead tr,
    tr:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  tr:hover {
    font-weight: bold;
  }
}
.error-message {
  color: #fff;
}
//Info page

.cryptoInfoPage {
  color: #fff;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      margin-left: 10px;
    }
  }
  img.logo-image {
    height: 35px;
    width: 35px;
  }
  span {
    font-size: 18px;
    line-height: 26px;
  }
  span.title {
    font-weight: bold;
    margin-right: 10px;
  }
}
.back-button-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  padding: 5px 0;
  svg {
    fill: #fff;
  }
  span {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
  }
  &:hover {
    span {
      font-weight: bold;
    }
  }
  &:visited {
    svg {
      fill: #fff;
    }
    span {
      color: #fff;
    }
  }
}
.back-button {
  background: #fff;
  margin: 25px auto !important;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:visited {
      color: #000;
    }
  }
  svg {
    margin-right: 5px;
  }
  span {
    text-transform: capitalize;
    color: #000;
  }
}
.social-media-links {
  a {
    svg {
      font-size: 30px;
    }
  }
  a:not(:first-child) {
    margin-left: 10px;
  }
  a,
  a:visited {
    svg {
      fill: #fff;
    }
    #slack_icon {
      width: 33px;
      height: 33px;
      fill: #fff;
    }
  }
  a:hover {
    svg {
      fill: #ccc;
    }
    #slack_icon {
      fill: #ccc;
    }
  }
}

@media (min-width: 601px) {
  h1 {
    font-size: 32px;
    text-align: center;
  }
  .react-table-custom {
    table {
      width: 100%;
    }
  }
  .pagination {
    max-width: 500px;
    margin: 20px auto;
  }
  .pagination-data {
    margin: 15px auto;
  }
  .back-button-link {
    justify-content: flex-end;
  }
  .description {
    margin-top: 20px;
  }
  .social-media-links {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    a {
      margin-left: 0 !important;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      span {
        margin-left: 10px;
        color: white;
      }
      &:hover {
        span {
          font-weight: bold;
        }
      }
    }
  }
}
@media (min-width: 960px) {
  .cryptoInfoPage {
    .body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      > div:first-child {
        width: 100%;
        max-width: 300px;
      }
      > div:last-child {
        width: 100%;
      }
    }
    .description {
      margin-top: 0 !important;
    }
  }
}
