.App * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

// Pagination

ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0px;
  li {
    list-style: none;
  }
}
//Table
.react-table-custom {
  overflow-x: scroll;
  table th {
    text-align: left;
  }
  tr:hover {
    font-weight: bold;
  }
}
